.widget{
    margin-right: 20px;
    flex:1;
    padding: 10px;
    justify-content: space-between;
    display: flex;
    -webkit-box-shadow:2px 4px 10px 1px rgba(0,0,0,0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201,0.47);
    border-radius:10px;
    height:100px;
    background-color: white;
}