.tableP{
margin-right:20px;
margin-left: 20px;
flex:1;
-webkit-box-shadow:2px 4px 10px 1px rgba(0,0,0,0.47);
box-shadow: 2px 4px 10px 1px rgba(201, 201, 201,0.47);
border-radius:30px;
height:max-content;

}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-radius: 30px;
   height: 60vh;
   background-color: white;
   
   
  }
  
  td, th {
    
    text-align: left;
    padding: 8px;
    border-radius: px;
    padding-right: 0px;
    width: fit-content;
    
  }
  tr{
    border:1px  solid #dddddd;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    
  }
 