@media screen and (min-width: 1025px) {
    .sub-main3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;

    }

    .CusBody {
        text-align: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin: -70px 0px 0px 0px;
        height: 100vh;
        background-image: url("../images/banner1.png");
        /* background-image: url("C:\Users\Lenovo\Desktop\parody_project\parody-project\src\images\banner1.png") ; */
        background-position-x: 100%;
        background-position-y: 100%;
        background-position: center;
        background-size: auto 100%;
        background-repeat: no-repeat;

    }

    .CusHeader {
        display: flex;
        flex-flow: wrap-reverse;
        justify-content: space-around;
    }


    h1 {
        color: #3455c9;
    }






    .Cusbutton {
        width: 12rem;
        height: 3rem;
        padding: 5px;
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        background-image: linear-gradient(45deg, #0a85ff, #1434a9);
        border-radius: 10rem;
    }

    .cusDrop {
        width: 300px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        font-weight: bolder;
        color: black;
        margin-bottom: 25px;
        margin-left: 40vw;
        border: 1px solid;
    }

    .ID_field {
        width: 300px;
        height: 20px;
        margin-bottom: 2rem;
        border: 1px solid;
        margin-left: 40vw;
        padding: 10px;
    }

    .profile {
        width: fit-content;
        height: 33px;
        margin-right: 0px;
        margin-bottom: 1rem;
        padding-left: 9rem;

    }


}


@media screen and (max-width:960px) {
    .sub-main3 {
        display: flex;
        flex-direction: column;
        height: 550px;
        width: 90%;
        padding-top: 30px;
        border-radius: 60px;
        background-color: #efefef;
    }

    h1 {
        color: #3455c9;
    }

    .Cusbutton {
        width: 12rem;
        height: 3rem;
        padding: 5px;
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        background-image: linear-gradient(45deg, #0a85ff, #1434a9);
        border-radius: 10rem;
    }

    .cusDrop {
        width: max-content;
        padding: 10px;
        border: 5px solid rgb(204, 204, 204);
        border-radius: 4px;
        font-size: 16px;
        font-weight: bolder;
        margin-bottom: 2rem;
        margin-left: 0px;
        font-weight: bolder;
        background-color: rgba(255, 255, 255, 0.769);
    }

    h2 {

        font-style: italic;
    }

    .profile {
        width: fit-content;
        height: 33px;
        margin-right: 0px;
        margin-bottom: 1rem;
        padding-left: 9rem;

    }

    .CusHeader {
        display: flex;
        flex-flow: wrap-reverse;
        justify-content: space-around;
    }

    .CusBody {
        margin-top: 0px;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        border: 2px;
        padding: 10px;
        padding-top: 1rem;
        border-radius: 25px;
        height: 75vh;
        background-color: #efefef;
    }

    .ID_field {
        width: 300px;
        height: 20px;
        margin-bottom: 2rem;
        border: 1px solid;
        padding: 10px;

    }

    .btn {
        text-align: center;

    }
}