.main {
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 90px 0 90px 0;
    margin: 0px 0px 0px 0px;
    background-color: rgb(207, 207, 207);
    /* background-image: url("C:\Users\Lenovo\Desktop\parody_project\parody-project\src\images\banner1.png") ; */
    background-image: url("../images/banner1.png");
    background-position-x: 100%;
    background-position-y: 100%;
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 80vh;

}

.GuestFname {
    margin-bottom: 30px;
}


.GuestFname,
.GuestLname,
.TelephoneNo,
.IDcard {
    width: 450px;
    height: 50px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 25px 0px #888;

}


.TelephoneNo {
    margin: 2rem 0;
}

h1 {
    color: #3455c9;
}

.Gform {
    display: block;
    justify-content: center;
    margin: 3rem;
}

form input {
    text-align: center;
}

.Stext {
    color: white;
    font-weight: bold;
}

.Glbutton {
    width: 450px;
    height: 3rem;
    padding: 5px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    background-image: linear-gradient(45deg, #0a85ff, #1434a9);
    border-radius: 10px;
}

.Drop {
    width: max-content;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bolder;
    color: #3455c9;
    margin-bottom: 25px;
}

@media screen and (max-width:960px) {
    .main {
        text-align: center;
        justify-content: center;
        display: flex;
        padding: 90px 0 90px 0;
        margin: 0px 0px 0px 0px;
        margin-bottom: 0;
        background-color: rgb(207, 207, 207);
        /* background-image: url("C:\Users\Lenovo\Desktop\parody_project\parody-project\src\images\banner1.png"); */
        background-image: url("../images/banner1.png");
        background-position-x: 100%;
        background-position-y: 100%;
        background-position: center;
        background-size: auto 100%;
        background-repeat: no-repeat;

    }

    .sub-main1 {
        display: flex;
        justify-content: center;
        height: 650px;
        width: 90%;
        padding-top: 30px;
        border-radius: 60px;
        background-color: white;
    }

    .GuestFname,
    .GuestLname,
    .TelephoneNo,
    .IDcard {
        width: 300px;
        height: 50px;
        border-radius: 50px;
        box-shadow: inset 0px 0px 25px 0px #888;
    }

    .GuestFname {
        margin-bottom: 16px;
    }


    .IDcard {
        margin-bottom: 5px;
    }

    .TelephoneNo {
        margin: 1rem 0;
    }

    h1 {
        color: #3455c9;
    }

    .Gform {
        display: block;
        justify-content: center;
        margin: 2rem;
    }

    form input {
        text-align: center;
    }

    .Glbutton {
        width: 19rem;
        height: 3rem;
        padding: 5px;
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        background-image: linear-gradient(45deg, #0a85ff, #1434a9);
        border-radius: 10rem;

    }

    .Drop {
        margin-top: 0rem;
        width: max-content;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        font-weight: bolder;
        color: #000;
        margin-bottom: -15px;
    }




}