.TLogin{
   display:flex;
   justify-content:center;
   align-items: center;
   height:100vh;
   
}
.LeftPane{
 height:500px;
 width:500px ;
 display: flex;
 justify-content: space-around;
 align-items: center;
 border:2px solid #ccc;
 border-radius: 2px;
 background: linear-gradient(#0a85ff, #1434a9);
 box-shadow: 10px 10px 10px #ccc;
}
.RightPane{
    height:500px;
    width:500px ;  
    border:2px solid #ccc;
 border-radius: 2px; 
 display:flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
background-color:#efefef;
box-shadow: 10px 10px 10px #ccc;

}
form {
    display: block;
    justify-content: center;
    margin: 3rem;
}
.Userid {
    width:300px;
    height:50px;
    border-radius:0px;
    
    margin-bottom: 1rem;
    border:none;
}
.TellPass{
    width:300px;
    height:50px;
    border-radius:0px;
    /*box-shadow: inset 0px 0px 25px 0px #888;*/
    margin-bottom: 1rem;
    border:none;
}
.TellerProfile{
    width:fit-content;
    height:50px;
    box-shadow: inset  8px 8px 5px #888;
    border-radius: 20px;
   
    
}
form input {
    text-align: center;
}
button{
    width: 19rem;
    height: 3rem;
    padding: 5px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    background-image: linear-gradient(45deg,#0a85ff, #1434a9);
    border-radius: 0rem;
    border-radius: 5px;
    margin-top: 1rem;
}
.Tellbtn{
    text-align: center;
}